@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{
    margin:0;padding:0;border:0;font-weight: normal;
}
body{
    background:#fff;color:#333;font-size:14px;font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体","Arial Narrow";
}
ul,ol{
    list-style-type:none;
}
select,input,img,select{
    vertical-align:middle;
}
a{text-decoration:none;}

.fl{float: left;}
.fr{float: right;}
.wrap{width: 100%;height:auto;padding-bottom: 0px;background: url(../image/bg.jpg) no-repeat center;}
.box{width: 990px;height: auto;margin: 0 auto;}
.top{width: 100%;height: 100px;overflow: hidden;color:#fff;padding-top: 20px;background: rgba(255,255,255,0.5);}
.top .logo{float: left;}
.top .topRight{float: right;width: 250px;text-align: center;}
.top .topRight h4{font-size: 40px;color: white;}
.top .topRight p{font-size: 14px;color: #ccc;}
.content{padding: 20px;background: rgba(255,255,255,0.3);min-height: 500px;overflow-y: auto;}
.list li{overflow: hidden;color: #fff;font-size: 42px;padding-bottom: 30px;}
.head{float: left;width: 10%;text-align: center;}
.chuan{float: left;width: 20%;text-align: left;}
.chuan img{width: 220px;height: 110px;border-radius: 100%;}
.head img{width: 80px;height: 80px;border-radius: 100%;}
.dateTime{float: right;text-align: right;font-size: 33px; font: serif;font-family: "楷体","楷体_GB2312";}
.list li .fl{width: 90%;}
.list li .fl h3{font-size: 33px;padding: 5px 0;color: white;font: serif;font-family: "楷体","楷体_GB2312";}
.list li .fl p{font-size: 40px;line-height:48px;word-spacing:10px;letter-spacing: 2px;color: white;font-family: "隶书","隶书_GB2312";}

.top .backPic{float: right;width: 260px;text-align: center;cursor: pointer;}
.top .backPic .span{cursor: pointer;}

